.Header{
    height:60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: aliceblue;
}
.demo{
    font-size: 10px;
    margin-left: 20px;
    color:cadetblue
}
.Tag1{
    margin-left: 20px;
}
.fa-solid fa-user{
    margin-left: 20px;
    font-size: 30px;
}
.fa-solid fa-bars
{
font-size: 300px;
float:right;
}