.App {
  text-align: center;
}
.Tag{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:grey;
  margin-top:40px;
  font-size: 30px;
}
body{
  background-color: #282c34;
}